Makefile
metadata.json
icons
nuvola-app-jupiter-broadcasting
eu.tiliado.NuvolaAppJupiterBroadcasting.desktop
eu.tiliado.NuvolaAppJupiterBroadcasting.data.service
eu.tiliado.NuvolaAppJupiterBroadcasting.appdata.xml
jupiter_broadcasting.tar.gz
