Makefile
metadata.json
icons
nuvola-app-jupiter-broadcasting
eu.tiliado.NuvolaAppJupiterBroadcasting.desktop
eu.tiliado.NuvolaAppJupiterBroadcasting.data.service
eu.tiliado.NuvolaAppJupiterBroadcasting.appdata.xml
jupiter_broadcasting.tar.gz
eu.tiliado.WebRuntimeAppJupiterBroadcasting.desktop
eu.tiliado.WebRuntimeAppJupiterBroadcasting.service
nuvola-app-jupiter-broadcasting.metainfo.xml
/screenshots/
eu.tiliado.NuvolaAppJupiterBroadcasting.service
eu.tiliado.WebRuntimeAppJupiterBroadcasting.appdata.xml
